{% extends "mylab/base.html" %}

{% block custom_js %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<script type="text/javascript">
function get_random() {
    var result = [];
    var url = $('.btn').data('url');
    $.get(url, function(json) {
      $('.btn').data('num',json.num);
    })
    return true
  }

  $(function () {
    $(document).ready(function () {
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        $('#container').highcharts({
            chart: {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function () {

                        // set up the updating of the chart each second
                        var series = this.series[0];
                        setInterval(function () {
                            get_random();
                            var x = (new Date()).getTime(); // current time
                                y = $('.btn').data('num'); 
                            series.addPoint([x, y], true, true);
                        }, 1000);
                    }
                }
            },
            title: {
                text: 'Live random data'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: 'Value'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 2);
                }
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: 'Random data',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        time = (new Date()).getTime(),
                        i;

                    for (i = -19; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 1000,
                            y: Math.random()
                        });
                    }
                    return data;
                }())
            }]
        });
    });
});
</script>
{% endblock custom_js %}

{% block content %}
<div class="page-header">
  <h1>Ultra Sonido</h1>
  <div class="row">
     <div class="col-md-12">
     <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
     {% comment %}
     <a href="{% url 'get_ultrasonido' %}" class="btn btn-primary" data-num="0">random</a>
     {% endcomment %}
     <a href="{% url 'ultra_page' bool='no' %}" class="btn btn-primary" 
        data-num="0" data-url="{% url 'get_ultrasonido' %}">reiniciar</a>
     </div>
  </div>
</div>
{% endblock content%}
